/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.Bildschirmfoto-2025-04-28-um-23.53.33 {max-width:320px; max-height:1144px; }
.Bildschirmfoto-2025-04-28-um-23.53.33::after {content: '\00a0';display: inline-block; width:320px; height:1144px; background-position: 50% 50%; background-size: 100.625% 100.17482517482517%; background-image: url(sprite.png);padding: 0; }
div.Bildschirmfoto-2025-04-28-um-23.53.33::after {max-width:320px; width:100%;height:0;padding: 0 0 357.5% 0;}


/* $TexturePacker:SmartUpdate:63c3b4cbb47f17124f8764efb9a545c8:309f808f512afe6aac3b39dfcbac3a0b:fe9e8ef7f9484c1955f22aa7b2a2493e$ */
